extends layout

block content
    h1 Add a message
    form(method='post',action='/new')
        p
            label(for='user') User:
            input(type='text',name='user',id='user')
        p
            label(for='text') Message:
            textarea(name='text',id='text')
        p
            input(type='submit',value='Add message')